body {
  background-color: #230046;
  color: #ffffff;
  font-size: 16px;
}

.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 128px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
}

.bio {
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  margin-top: 16px;
  font-size: 1rem;
}

.waveSection {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.waveMessage {
  font-size: 1rem;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-family: inherit;
  font-size: 1rem;
  height: 5rem;
}

.waveButton {
  cursor: pointer;
  margin-top: 1rem;
  padding: 12px;
  border: 0;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
}

.wavesContainer {
  margin-top: 2rem;
}

.waveCard {
  background-color: #490093;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  font-size: .85rem;
}

.connection-status {
  text-align: center;
  margin-top: 10px;
  font-size: 0.85rem;
}

.connected-pill {
  display: inline-block;
  margin-right: 5px;
  width: 10px;
  height: 10px;
  border-radius: 100px;
  background-color: #39ff14;
}